img {
    width: 400px;
    height: auto;
}

/* oloi oi amesoi apogonoi tou ul pou einai li */

ul > li {
    color: red;
}

/* vres ta li kai alakse mono to proto paidi */
ul > li:first-child {
    color: blue;
}

ul > li:not(:first-child) {
    background-color: aquamarine;
}

/* efarmpzei thn allagh mono sto p pou einai meta to h1 */

h1 + p {
    color: blue;
}

img ~ p {
    background-color: green;
}

a::before {
    content: '\1F604';
}

a::after {
    content: '\1F609';
}