* {
    margin: 0;
}
.header {
    border: 1px solid black;
    height: 200px;
}

.aueb-img > img {
    height: calc(95vh - 200px);
    width: auto;
}

/* vh: μονάδα μέτρησης στο CSS
 
1vh -> 1% του υψους του view port
 
άρα εμεις βαζουμε π.χ. 95vh -> 95% του ύψους του viewport */