body {
    background-color: lightblue;
}

.aueb-header {
    background-color: lightcoral;
}

.cf-header {
    background-color: aquamarine;
}

.aueb-text {
    background-color: lightgreen;
}

.fg-light {
    color: white;
}